{% extends 'base.html.twig' %}
{% block body %}
  <section class="alert alert-secondary contact-us-form flex" role="alert">
    <div class="col-8 text-center">
      <h1>Thank You</h1>
      <p class="alert alert-info" role="alert">Your form has been successfully submitted</p>
    </div>
  </section>
{% endblock %}
